


body {background-color: beige}

/* header styles */
header {
    padding: 20px 35px;
    background-color: #00630d;
    flex-flow: column;
    flex-shrink: 100%;
    
    
  }
  

  header h1 {
    font-weight: bold;
    font-size: 34px;
    color: #330063;
    margin: 20px;
    display: inline-flex;
    ;
  }
  header a {
    text-decoration: none;
    color: #330063;
  }
  
  header nav {
    float: right;
    margin: 0px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    border-bottom:beige ;
    border-style: solid;
    border-left: #00630d;
    border-right: #00630d;
    border-top: #00630d;
    background-color: #00630d;
  }

  .hero-jumbo {
    background-image: url('../images/IMG_E0836.jpg'); 
    height: 600px;
    background-size: 500px;
    background-position: center ;
    ;
  }
.hero h2 {
    margin-left: 870px ;
    padding-top: 375px;
    color: #ffffff;
    }




/* aboute me*/
.section-title1 {
display: flex;
flex-shrink: 2;
  width:25% ;
 margin: 35% 15% 5% 5%;
height: 100%;
font-size: 400%;

}

.about { 
  display: flex;
  flex: content;
  justify-content: baseline;
 
}

.about article {
margin: 10% 0 0 25%;
padding: 30px;
border-left: #330063;
border-style: ridge;
border-right: 0;
border-bottom: 0;
border-top: 0;

}

/* my work*/

#work.my-work {
  margin-top: 10px;
}

.my-work{
  display: flex;
  flex: content;
  flex-direction: wrap;
  
}
.work-links{
 display: flex;
  flex-flow: wrap;
}

.section-title2 {
  display: flex;
  flex-shrink: 2;
    width:25% ;
  height: 100%;
  font-size: 400%;
border-right: #330063;
border-style: solid;
border-left: 0;
border-bottom: 0;
border-top: 0;
padding-right: 22%;
}
.work-pic1 {

margin-top: 30px;
margin-left: 20px;
}
.work-pic1 img{
flex-shrink: 2;
height: 70%;
width: 65%;
border-color: #00630d;
border-style: solid;
border-width: 5px;
}
 
.work-pic img {
  width: 30%;
  height: 60%;
  margin-left: 20px;
  border-color: #00630d;
  border-style: solid;
  border-width: 5px;
}


footer {
  background: #00630d;
  padding: 40px 35px;
  display: flex;
justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: #330063;
  font-size: 300%;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}
footer ul{
  display: flex;
  flex-flow: column;
float: right;
}

footer ul li{
  display: inline;
}
footer a {
  color: #330063;
}






.work-pic img:hover{
  border-color: red;
}
.work-pic1 img:hover{
  border-color: red;
}

header nav ul li a:hover{
 
  background-color: beige;
}