


body {background-color: bisque;}

/* header styles */
header {
    padding: 20px 35px;
    background-color: #00630d;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #330063;
    margin: 20px;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #330063;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  .hero-jumbo {
    background-image: url('../images/img_2234.jpg'); 
    height: 300px;
    background-size: 500px;
    background-position: bottom ;
    ;
  }
.hero h2 {
    margin-left: 820px ;
    padding-top: 275px;
    color: #000000;
    
    
}
















  footer {
    background: #00630d;
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h2 {
    display: inline;
    color: #330063;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: #00630d;
  }