


body {background-color: bisque;}

/* header styles */
header {
    padding: 20px 35px;
    background-color: #00630d;
    flex-flow: column;
    flex-shrink: 100%;
    
    
  }
  

  header h1 {
    font-weight: bold;
    font-size: 34px;
    color: #330063;
    margin: 20px;
    display: inline-flex;
    ;
  }
  header a {
    text-decoration: none;
    color: #330063;
  }
  
  header nav {
    float: right;
    margin: 0px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  .hero-jumbo {
    background-image: url('../images/IMG_E0836.jpg'); 
    height: 600px;
    background-size: 500px;
    background-position: center ;
    ;
  }
.hero h2 {
    margin-left: 870px ;
    padding-top: 375px;
    color: #ffffff;
    }

.section-label  {
font-size: 50px ;

}







footer {
  background: #00630d;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: #330063;
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #330063;
}






